# Exclude single file > 100MB (GitHub hard rejection limit)
best_cifar100_model.h5

# Python cache & virtualenvs
__pycache__/
*.py[cod]
*.class
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp